.mainDiv{
    -webkit-box-shadow: 1px 1px 10px 5px #999099;
    -moz-box-shadow: 1px 1px 10px 5px #999099;
    box-shadow: 1px 1px 10px 5px #999099;
}
.borderRadius{
    border-radius: 25px;
    border: 2px solid #a4a4a4;
}
.scrollDiv{
    height:350px;
    width:100%;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
}
.listDiv{
    height:40px; 
/*    width:99%;
    margin-left: auto;
    margin-right: auto;*/
    background-color: #e3e3e3;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 2px solid #a4a4a4;
    padding: 10px 0px 0px 25px;
}

.tableListDiv{
    height:40px; 
    width:99%;
    margin-left: auto;
    margin-right: auto;
    background-color: #e3e3e3;
    border: 2px solid #a4a4a4;
    padding: 10px 0px 0px 25px;
}
.mainViewScroll{
    height:200px;
    width:99.5%;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
    margin-left: auto;
    margin-right: auto;
}
pageComponents {
    border-radius: 25px;
    border: 2px solid #a4a4a4;
    padding: 0px 0px 0px 1px; 
}

.pageComponent{
    /*border-radius: 25px;*/
    border: 0px solid #a4a4a4;
    padding: 1px;
}
.insideScroll{
    background-color: #E5E8ED;
    margin-top: 10px; 
    border: 1px solid;
    cursor:pointer;
    padding: 10px 5px 10px 10px;
    width:95%;
    margin-right: auto;
    margin-left: auto
}
.createEvent{
    background-color: #E5E8ED;
    margin-top: 20px; 
    margin-bottom: 20px;
    border: 1px solid;
    padding: 10px 5px 10px 10px;
    width:95%;
    margin-right: auto;
    margin-left: auto
}
.tableDiv{
    background-color: #E5E8ED;
    margin-top: 5px; 
    border: 1px solid; 
    width: 100%;
}
.mainView{
    cursor:pointer;
}
.imgCenter img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:345px;
    max-height:300px;
    width:auto;
    height:auto;
}
.imgCenter1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:150px;
    max-height:200px;
    width:auto;
    height:auto;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px;  /*Location of the box*/ 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 700px;
}


/* Add Animation - Zoom in the Modal */
.modal-content { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    margin-top: 8%;
    margin-bottom: auto;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


.ng-enter {
    -webkit-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
     margin-top: -20%;
     background-color: gold;
}

.ng-enter-active {
  margin-top: 0;
  background-color: #fff;
  
}
        
.ng-leave {
    -webkit-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    margin-top: 0;
}

.ng-leave-active {
  margin-top: 100%;
}

.ng-move {
    -webkit-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 1250ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    background: gold;
   
    height: 0;
}
  
  .ng-move-active {
  background: #fff;
 
  height: 20%;
 }
 
 .fontColor1 {
     color: #4F8BE7;
 }
 .fontColor1 {
     color: grey;
     //4F8BE7
 }
 
 .selected {
     background-color: black;
     color: white;
     font-weight: bold;
 }