.mainDiv{
    -webkit-box-shadow: 1px 1px 10px 5px #999099;
    -moz-box-shadow: 1px 1px 10px 5px #999099;
    box-shadow: 1px 1px 10px 5px #999099;
}
.scrollDiv{
    height:450px;
    width:100%;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
}
.pageComponent{
    border: 2px solid #2a6496;
    padding: 1px;
}
.insideScroll{
    background-color: #e1edf7;
    margin-top: 20px; 
    border: 1px solid;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}