<div class="mainDiv">
    <div style="height:35px;background-color: #e3e3e3;">
        <strong>Emergency List</strong>
    </div>
    <div class="scrollDiv">
        <div class="row insideScroll" ng-repeat="alertObject in emergencyList.alertObjects">
            <div class="col-lg-4">
                <img src="images/logo.jpg" alt="logo"  width="100px" height="80px">
            </div>
            <div class="col-lg-8" style="color: #269abc;" >
                #STATUS from #Serial number from {{alertObject.id}} checking conflict 
                #CustmDesignedInformation
                </br>
                </br>
                30Seconds Ago  Ack . Ignore 6
            </div>
        </div>
    </div>
</div>