
<div class="mainDiv borderRadius" count="10" interval="3000">
    <div class="listDiv">
        <strong>Emergency List</strong>
    </div>
    <div class="row createEvent">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-right: 10px">
            <img src="images/logo.jpg" alt="logo"  width="100%" height="80px">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="text" style="width: 100%" class="form-control" id="emgList" name="emgList" placeholder="Create Event..." ng-model="createEvent"/></br>
            <input type="submit" class="pull-right" id="emgListSubmit" value="Submit" ng-click="emergencyList.addEvent()">
        </div>
    </div>
    <div class="scrollDiv">
        <div class="row insideScroll" ng-animate  ng-repeat="alertObject in emergencyList.alertObjects  | stopdisplay"  ng-click="emergencyList.click($index)" >
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-right: 10px;">
                <img src="images/logo.jpg" alt="logo"  width="100%" height="80px">
            </div>
            <div class="col-lg- 9 col-md-9 col-sm-9 col-xs-9" style="color: #269abc;" >
                <span class="pull-right"><img src="images/tick.png" height="20px" width="20px"></span>
                <span class="fontColor" style="font-weight: bold;">
                    #STATUS from #Serial number {{alertObject.id}}</br>
                    {{alertObject.data}}
                </span>

                </br>
                </br>
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-6"><span class="fontColor">{{alertObject.status}}</span></div>
                    <div class="col-lg-4 col-md-5 col-sm-5 col-xs-6"><span class="fontColor">. Ack .</span><span class="fontColor1"> Ignore</span></div>
                    <div class="col-lg-3 col-md-2 col-sm-2 col-xs-6"><span class="fontColor">1 View</span></div>
                </div>
            </div>
        </div>
    </div>
    <div style="padding: 0px 0px 0px 30px;">
        <input type="button" value="Active" ng-click="emergencyList.pauseScrollForDemo(false)" />
        <input type="button" value="Pause" ng-click="emergencyList.pauseScrollForDemo(true)"/>
    </div>
</div>