<div class="mainDiv borderRadius">
    <div class="listDiv">
        <strong>ADL Charting</strong>
    </div>
    <div class="imgCenter" style="height: 250px;margin-left: auto;margin-right: auto; margin-bottom: auto;">
        <img id="myImg1" ng-src="{{graphImage.displayImage[0]}}" alt="Home Care" onclick="showImgModal(1)"/>
    </div>
    <hr>
    <div class="imgCenter1" style="height: 200px;margin-left: 20px;margin-right: auto; margin-bottom: auto;margin-top: 35px;float: left;">
        <img id="myImg2" ng-src="{{graphImage.displayImage[1]}}" alt="Home Care" onclick="showImgModal(2)"/>
    </div>
    <div class="imgCenter1" style="height: 200px;margin-left: auto;margin-right: auto; margin-bottom: auto;margin-top: 45px;">
        <img id="myImg3" ng-src="{{graphImage.displayImage[2]}}" alt="Home Care" onclick="showImgModal(3)"/>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
      <!-- The Close Button -->
    <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="imgModal" width="100%" height="auto">
</div>


</div>
