<div class="row" style="margin-top: 20px;">
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 pageComponent ">
        <emergency-list></emergency-list>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 pageComponent" style="padding-left: 5px">
        <graph></graph>
    </div>
</div>
<main-view></main-view>
<div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 pageComponent">
        <call-center></call-center>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 pageComponent" style="padding-left: 5px">
        <touch-point></touch-point>
    </div>
</div>
