<div class="row" style="margin-top: 20px;height: 500px;">
    <div class="col-lg-6 pageComponent">
        <emergency-list></emergency-list>
    </div>
    <div class="col-lg-6">
        <graph></graph>
    </div>
</div>
<div class="row">
    <div class="mainDiv">
        <div style="height:35px;background-color: #e3e3e3;">
            <strong>Main View</strong>
        </div>
        <div class="scrollDiv">
            <div class="row insideScroll" >
                <table>
                    <tr>
                      <th>Patient</th>
                      <th>Office</th>
                      <th>Phone #</th>
                      <th>POC</th>
                      <th>Last Activity</th>
                    </tr>
                    <tr>
                      <td>Jane</td>
                      <td>Lafayette</td>
                      <td>555-555-5555</td>
                      <td>Employee 3</td>
                      <td>10:00 AM</td>
                    </tr>
                    <tr>
                      <td>John</td>
                      <td>Columbus</td>
                      <td>555-555-5500</td>
                      <td>Employee 1</td>
                      <td>10:00 AM</td>
                    </tr>
                    <tr>
                      <td>Emma</td>
                      <td>Lafayette</td>
                      <td>555-555-5552</td>
                      <td>Employee 3</td>
                      <td>8:30 AM</td>
                    </tr>
                    <tr>
                      <td>Ed</td>
                      <td>Lafayette</td>
                      <td>555-555-5533</td>
                      <td>Employee 3</td>
                      <td>No Activity</td>
                  </tr>
                  </table>
            </div>
        </div>
    </div>
</div>